*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#head{
    height: 70px;
    display: flex;
    padding-left: 65px;
    padding-right: 65px;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.897); */
    backdrop-filter: blur(25px);
}

svg{
    width: 25px;
}

#navcenter{
    display: flex;
    gap: 20px;
}

#navcenterbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    /* z-index: 10; */
    position: relative;
    background-color: transparent;
}

.navsame{
    display: flex;
    align-items: center;
}

#logo{
    font-weight: bold;
    font-size: 20px;
}

#navbutton{
    display: flex;
    gap: 10px;
}

#navblocksbutton{
    background-color: black;
    color: white;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#navsigninbutton{
    background-color: white;
    border: 1px solid rgb(74, 74, 74);
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#main{
    height: 100vh;
    display: flex;
    padding-top: 20px;
}

.mainsame{
    height: 100%;
    /* width: 50%; */
}

#mainsamediv{
    width: 45%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding-left: 60px;
    gap: 20px;
}

#mainsamediv > h1{
    color: rgb(35, 35, 35);
    text-align: left;
    font-size: 50px;
}

#mainsamedesc{
    line-height: 25px;
    font-size: 20px;
    color: gray;
}

#mainsamedivinput{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 50%;
    border: 1px solid black;
}

#mainsamedivbutton{
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#mainsamediv1{
    width: 55%;
    display: flex;
    justify-content: center;
    padding-left: 40px;
}

#mainsamediv1 > div{
    height: 90%;
    width: 80%;
    background-color: blue;
    background-image: url(/project2/Picsart_25-07-07_10-09-23-715.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

#clients{
    height: 22vh;
    /* background-color: green; */
    margin-top: 70px;

}

#clients > h4{
    text-align: center;
}

#clients > div > img{
    width: 190px;
    justify-content: center;
}

#clients > div{
    display: flex;
    justify-content: center;
    /* gap: 10px; */
}

#whatido{
    height: 30vh;
    /* background-color: green; */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#whatido > p, h4, h1{
    text-align: center;
}
#whatido > h1{
    text-align: center;
}

#whatido > h1{
    font-size: 50px;
}

#whatido > p{
    font-size: 20px;
    width: 70%;
    color: gray;
}

#skills {
    height: 100vh;
    /* padding-top: 30px; */
    /* background-color: red; */
}

.skillssame {
    height: 50%;
    display: flex;
    justify-content: space-around;
}


.skillssame > div{
    width: 33%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#skillsbottom{
    padding-left: 80px;
    padding-right: 90px;
}


#svgdiv > svg{
    color: white;
}

#svgdiv {
    background-color: black;
    width: 25px;
    height: 25px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillssame > div > h2 {
    text-align: center;
    font-size: 20px;
}

.skillssame > div > p{
    color: gray;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.5;
}






@media(max-width: 500px){
    #head{
    height: 7vh;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.897); */
    backdrop-filter: blur(25px);
}

svg{
    width: 10px;
}


#navcenter{
    display: flex;
    gap: 8px;
}

#navcenterbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    border: none;
    /* z-index: 10; */
    position: relative;
    background-color: transparent;
}

.navsame{
    display: flex;
    align-items: center;
}

#logo{
    font-weight: bold;
    font-size: 10px;
}

#navbutton{
    display: flex;
    gap: 5px;
}

#navblocksbutton{
    background-color: black;
    color: white;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#navsigninbutton{
    background-color: white;
    border: 1px solid rgb(74, 74, 74);
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#main{
    height: 40vh;
    display: flex;
    padding-top: 10px;
}

.mainsame{
    height: 100%;
    /* width: 50%; */
}

#mainsamediv{
    width: 45%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding-left: 10px;
    gap: 8px;
}

#mainsamediv > h1{
    color: rgb(35, 35, 35);
    text-align: left;
    font-size: 25px;
}

#mainsamedesc > p{
    line-height: 12px;
    font-size: 10px;
    color: gray;
}

#emailtext {
    font-size: 10px;
}

#emaildiv{
    size: 10px;
}

#mainsamedivinput{
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
}

#mainsamedivbutton{
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#mainsamediv1{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

#mainsamediv1 > div{
    height: 60%;
    width: 100%;
    background-color: white;
    background-image: url(/project2/Picsart_25-07-07_10-09-23-715.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

#clients{
    height: 7vh;
    /* background-color: green; */
    margin-top: 15px;

}

#clients > h4{
    text-align: center;
}

#clients > div > img{
    width: 75px;
    justify-content: center;
}

#clients > div{
    display: flex;
    justify-content: center;
    /* gap: 10px; */
}

#whatido{
    margin-top: 5px;
    height: 15vh;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#whatido > p, h4, h1{
    text-align: center;
}
#whatido > h1{
    text-align: center;
}

#whatido > h1{
    font-size: 25px;
}

#whatido > p{
    font-size: 10px;
    width: 70%;
    color: gray;
}

#skills {
    height: 25vh;
    padding-top: 20px;
    /* background-color: red; */
}

.skillssame {
    height: 50%;
    display: flex;
    justify-content: space-around;
}


.skillssame > div{
    width: 33%;
    height: 50%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    /* padding-left: 5px;
    padding-right: 5px; */
}

#skillsbottom{
    padding-left: 80px;
    padding-right: 90px;
}


#svgdiv > svg{
    color: white;
}

#svgdiv {
    background-color: black;
    width: 10px;
    height: 10px;
    padding: 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillssame > div > h2 {
    text-align: center;
    font-size: 10px;
}

.skillssame > div > p{
    font-size: 7px;
    color: gray;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.1;
}


}